.About{
  padding: 50px;
  margin: 0 150px;
}
.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-col-1{
  flex-basis: 60%;
}
.about-col-1 p{
  text-align: justify;
  font-size: 19px;
  margin: 20px 0 20px 60px;
  line-height: 35px;

}

.about-col-2{
  flex-basis: 35%;
}
.about-col-2 img {
  width: 100%;
  border-radius: 15px;
}
.sub-title{
  font-size: 50px;
  font-weight: 600;
  margin-left: 20px;
  text-align: center;
}