.Header .header-image{
  width: 30%;
  height: 500px;
  background-image: url(Images/dagaduseth.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: cover;
  margin: 20px 40px;
}
.Header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-details{
  text-align: center;
  margin-left: 110px;
}
.Header .header-details h1{
  font-size: 40px;
  /* margin: 150px 0 20px 300px; */
}
.Header .header-details h2{
  font-size: 50px;
  /* margin: 20px 0 20px 130px; */
  color: rgb(240, 53, 125);
}
.Header .header-details p {
  font-size: 25px;
  /* margin: 30px 0 0 230px; */
}